:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-dark-5: #2f2f2f;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.6);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.3);

  --line: 1px solid var(--color-grey-light-4);

  --bp-largest: 75em;
  --bp-large: 68.75em;
  --bp-medium: 56.25em;
  --bp-small: 37.5em;
  --bp-smallest: 31.25em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 30%;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

body {
  height: 100vh;
  align-items: center;
  background-color: var(--color-grey-dark-5);
}

h1 {
  text-align: center;
  padding: 8rem;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-grey-dark-5);

  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.69),
    -0.2rem -0.2rem 0.5rem rgba(152, 152, 152, 0.5);
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  background-color: var(--color-grey-dark-5);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  font-size: 15em;
  color: #64dd17;
  text-shadow: 0 0 7.2rem rgba(100, 221, 23, 0.85);
  border: 1px solid var(--color-grey-dark-1);
  box-shadow: 0.6rem 0.6rem 2.6rem rgba(0, 0, 0, 0.8),
    -0.6rem -0.6rem 1.6rem rgba(152, 152, 152, 0.35);
}

.time:last-child div {
  color: #039be5;
  text-shadow: 0 0 7.2rem rgba(3, 155, 229, 0.85);
}

.box:last-child {
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: 500;
  text-transform: uppercase;
}

.box-big {
  width: 20rem;
  height: 20rem;
  margin-bottom: 1.5rem;
}

.box-small {
  width: 20rem;
  height: 5rem;
}
